<section class="hero section hero-background">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/src/images/hero-img/hero-1.jpg" alt="кухня" />
        </div>
        <div class="swiper-slide">
          <img src="/src/images/hero-img/hero-1.jpg" alt="кухня" />
        </div>
        <div class="swiper-slide">
          <img src="/src/images/hero-img/hero-1.jpg" alt="кухня" />
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
